services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:8080"
      - "7029:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__Default=mongodb://mongodb:27017
    depends_on:
      - mongodb

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.client
    ports:
      - "4200:80"
    depends_on:
      - backend

  simulator:
    build:
      context: .
      dockerfile: Dockerfile.simulator
    ports:
      - "5006:8081"
      - "7030:441"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - backend

volumes:
  mongodb_data: