@import '../../../../styles.scss';

.pagination {
  display: flex;
  margin-bottom: 4px;

  button {
    border: 1px solid $secondary;
    border-radius: 5px;
    background-color: $info;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $secondary;
    cursor: pointer;

    &[disabled] {
      background-color: $body-bg;
      cursor: auto;
    }

    &.selected {
      background-color: $primary;
      color: $body-bg;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

select {
  border: 1px solid;
  border-radius: 2px;
}
